<div class="my-3 mx-3">
  <h2>ExhaustMap</h2>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <h3>Save Data </h3>
    </div>
  </div>
  
  <hr>
  <!-- Add Video Input -->

  <div class="row">
    <div class="col-md-5 mr-auto">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <button  class="btn btn-success" #btn
          >Save Data</button> &nbsp;
        </div>
      </div>     
    </div>
    <div class="col-md-5">
      <div *ngIf="fetching" class="text-center">
        <div class="spinner-border text-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div> Saving...
    </div>
      
      <ul class="video-list">
        <li><strong>Save Request: </strong> {{saveRequest}}</li>
        <!--  <li><strong>Save Request: </strong> {{num}}</li> -->
      </ul>
    </div> 
  </div>
  

  


  <br>
  
</div>