<div class="row mx-3">
  <div class="col-md-12">
      <ul class="list">
          <li>
              <a routerLink="fromEvent">fromEvent</a>
          </li>
          <li>
              <a routerLink="interval">Interval</a>
          </li>
          <li>
              <a routerLink="of-from">Of and From</a>
          </li>
          <li>
              <a routerLink="to-array">toArray</a>
          </li>
          <li>
              <a routerLink="custom">Custom Observable</a>
          </li>
          <li>
              <a routerLink="map">Map</a>
          </li>
          <li>
              <a routerLink="pluck">Pluck</a>
          </li>
          <li>
              <a routerLink="filter">Filter</a>
          </li>
          <li>
              <a routerLink="tap">Tap</a>
          </li>
          <li>
              <a routerLink="take">Take, TakeLast <br>and TakeUntil</a>
          </li>
          <li>
              <a routerLink="retry">Retry, RetryWhen <br>Scan and Delay</a>
          </li>
          <li>
              <a routerLink="debounce">DebounceTime & <br>DistinctUntilChanged</a>
          </li>
          <li>
              <a routerLink="subject">Subject</a>
          </li>
          <li>
              <a routerLink="replay-subject">ReplaySubject</a>
          </li>
          <li>
              <a routerLink="async-subject">AsyncSubject</a>
          </li>
         <li>
              <a routerLink="concat">Concat</a>
          </li>
          <li>
              <a routerLink="merge">Merge</a>
          </li>
          <li>
              <a routerLink="mergemap">MergeMap</a>
          </li>
          <li>
              <a routerLink="concatmap">ConcatMap</a>
          </li>
          <li>
              <a routerLink="concatmap2">ConcatMap2</a>
          </li>
          <li>
              <a routerLink="switchmap">SwitchMap</a>
          </li>
          <li>
              <a routerLink="switchmap2">SwitchMap2</a>
          </li>
          <li>
              <a routerLink="exhaustmap">ExhaustMap</a>
          </li>
        <li>
              <a routerLink="sharereplay">shareReplay</a>
          </li>
          <!--<li>
            <a routerLink="combine-latest">CombineLatest & withLatestFrom</a>
          </li>
          <li>
            <a routerLink="zip">Zip & ForkJoin</a>
          </li>
          <li>
            <a routerLink="catch-throw">CatchError & ThrowError</a>
          </li> -->
      </ul>
  </div>
</div>