<div class="my-3">
  <h2>MergeMap</h2>
  <br>
  <br>
  <div class="row">
      <div class="col-md-4">
          <strong>Ex - 01 | Map</strong>
          <hr>
          <p class="bg-light py-2 px-3 border rounded">
              <strong>Videos: </strong> ['Tech', 'Comedy', 'News']
          </p>
          <hr>
          <ul id="elContainer"></ul>
      </div>
      <div class="col-md-4">
          <strong>Ex - 02 | Map + MergeAll</strong>
          <hr>
          <p class="bg-light py-2 px-3 border rounded">
              <strong>Videos: </strong> ['Tech', 'Comedy', 'News']
          </p>
          <hr>
          <ul id="elContainer2"></ul>
      </div>
      <div class="col-md-4">
          <strong>Ex - 03 | mergeMap</strong>
          <hr>
          <p class="bg-light py-2 px-3 border rounded">
              <strong>Videos: </strong> ['Tech', 'Comedy', 'News']
          </p>
          <hr>
          <ul id="elContainer3"></ul>
      </div>
  </div>
</div>
