<div class="my-3 mx-3">
  <h2>Of</h2>
</div>

<div class="row mx-3">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">Discrete arguments/values</div>
          <div class="card-body">
              <ul id="elContainer"></ul>
          </div>
      </div>
  </div>
   <div class="col-md-6">
      <div class="card">
          <div class="card-header">Object</div>
          <div class="card-body">
              <ul id="elContainer2">
                <li>{{obMsg.firstname}}</li>
                <li>{{obMsg.lastname}}</li>
                <li>{{obMsg.designation}}</li>
              </ul>
          </div>
      </div>
  </div>
</div>


<div class="my-3 mx-3">
  <h2>From</h2>
</div>

<div class="row mx-3">
  <div class="col-md-4">
      <div class="card">
          <div class="card-header">Array</div>
          <div class="card-body">
              <ul id="elContainer3"></ul>
          </div>
      </div>
  </div>
   <div class="col-md-4">
      <div class="card">
          <div class="card-header">Promise</div>
          <div class="card-body">
              <ul id="elContainer4"></ul>
          </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="card">
        <div class="card-header">String</div>
        <div class="card-body">
          <ul id="elContainer5"></ul>
        </div>
    </div>
</div>
</div>